body {
    background-color:darkcyan;
    width: 80%;
    max-width: 600px;
    margin: 50px auto 0;
    border-radius: 10px;
    padding: 20px;
}

.quiz-container {
    text-align: center;
    background-color:white
}

.option-btn {
    margin: 10px;
}

.hide {
    display: none;
}
